<?xml version="1.0"?>
<!--Bản realease phần mềm điều hành!-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>O/erdSKaLTI=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--<Settings>-->
<!-- ThanhCong Thật-->
<!--<Settings>
  <IPAddress>192.168.0.2\TCSQL</IPAddress>
  <Source>0gcjprYLwwif3Pka4G5oClJpm81peb7</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfeZAPXFAxjmd</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>A+NMmyHrQpVTAJBlvsr2CgVWvQm4fJKF</Password>
</Settings>-->
<!--BA ThanhCong Test-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfUb6VfeKd6W2FSdvxMLbM+M=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--Thành Công HL thật-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>7UKIDlbY/4rS9pVxSDjJkQ==</Source>
  <Catalog>SSSsB0fJY3crIZKJDRk36w==</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->
<!--Logn Bien test-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>0gcjprYLwwgNEz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfRwNkI80RE31MOCrp116jb8=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--<Settings>
  <IPAddress>TaxiABC</IPAddress>
  <Source>0gcjprYLwwjHcLip7QnCRdxd9FoIoAGn</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAffd7nrbQC9iimMKkApkjX2U=</Catalog>
  <User>tyZe7ZH4km0s2oUxkimjew==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--Sao HN test-->
<!--<Settings>
  <IPAddress>10.0.2.110</IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdFNGL4Lv5Gop2yVbExi360=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--Group BN That-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>PTszerv9wUV4xk8EQUwNTyucyET1zvxn</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAff98ZUCCqRmG0k59VMvD+cJOTvbYtAfgnQ==</Catalog>
  <User>PLusDTlaIKFiwrLDKIx2GA==</User>
  <Password>PLusDTlaIKHYDXtNU/HMFw==</Password>
</Settings>-->
<!--TaxiOperationGPS_BaSao test-->
<!--<Settings>
  <IPAddress> </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdD0VcwbNhJI</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--TaxiOperationGPS_BaSao-->
<!--<Settings>
  <IPAddress>192.168.100.10</IPAddress>
  <Source>BXBLyCyx/IFEwxM5cn25UeFGvC0vtk1J</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfeZAPXFAxjmd</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->
<!--SaoHN-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>MVh5SgNvLBbm/DKFEa9Ojm3gEAgc1Fgv</Source>
  <Catalog>NI806RVvxevi6R0ELlWwpFVDz7Nr3scs</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->
<!--Thành công thật -->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>evKekCEStRcES0XXwprs0EClq34S0F+0</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfeZAPXFAxjmd</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>A+NMmyHrQpVTAJBlvsr2CgVWvQm4fJKF</Password>
</Settings>-->
<!--Taxi Sông Nhuệ-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>HohKLR56kPZcMtJYQaqAow==</Source>
  <Catalog>8wuTkKpJUy+DwdDioNKMyQ==</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->

<!--Van An test-->
<!--<Settings>
  <IPAddress> </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdI</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--<Settings>
  <IPAddress></IPAddress>
  <Source>pCQiKhbQQoyfIZ8mFbkWBQ==</Source>
  <Catalog>zmFcWR9MLvATZx6BDsqS93TPhsN5tqgb</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->
<!--Phù Đổng Test-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>O/erdSKaLTI=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--Phú bình Test-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfYxUuqRGQ4l8Fso5U30jYpY=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=99999</Password>
</Settings>-->

<!--Sao Mai Quang Ninh-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>SayNDrTidYe2k2QCF06RF7mvcKZIo0Rz</Source>
  <Catalog>gfizw5EkqHLLVR3AcjHgxQ==</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->

<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>0gcjprYLwwjYRoa80RFlug==</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfXCWRtnAXzgfzUlXvkCfNPs=</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->

<!--Bình An TN-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>iT8d+Y1erZDWWnJRrYQH8w==</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfTawyTD9nKbam4/XKATJgeE=</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->

<!--Sông Nhuệ Test-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>5rZS3b0wS46f/Ruc6v6pVQ==</Source>
  <Catalog>O/erdSKaLTI=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>SBTjXWIuFx5W22G8/piFSQ==</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<Settings>
  <IPAddress>
  </IPAddress>
  <Source>Efi6/hXt59lCc1vECdEJXN0DBA0XEZbH</Source>
  <Catalog>Lt8a2c3mmOJ1w6KB+sgnHXdD0/6HUVkv</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>