<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="TaxiOperation_ServicesSoap" />
                <binding name="TaxiOperation_ServicesSoap1" />
                <binding name="CcApiPortBinding" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicesOnline">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.2.107:2345/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://210.211.124.121:86/TaxiOperation_Services.asmx"
                binding="basicHttpBinding" bindingConfiguration="TaxiOperation_ServicesSoap"
                contract="Server_BookingTaxi_ThanhCong.TaxiOperation_ServicesSoap"
                name="TaxiOperation_ServicesSoap" />
            <endpoint address="http://210.211.124.121:8787/TaxiOperation_Services.asmx"
                binding="basicHttpBinding" bindingConfiguration="TaxiOperation_ServicesSoap1"
                contract="Services_DatXe_ThanhCong_V2.TaxiOperation_ServicesSoap"
                name="TaxiOperation_ServicesSoap1" />
            <endpoint address="net.tcp://10.0.2.179:7000/WCFServiceGEO" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicesOnline" contract="ServicesGEO.IServicesOnline"
                name="NetTcpBinding_IServicesOnline" />
            <endpoint address="http://125.235.4.202:8998/bulkapi" binding="basicHttpBinding"
                bindingConfiguration="CcApiPortBinding" contract="ServerSMS_Viettel.CcApi"
                name="CcApiPort" />
        </client>
    </system.serviceModel>
</configuration>