<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="FTP_URL" value="ftp://192.168.100.10/"/>
    <add key="FTP_USERNAME" value="ttdh_basao"/>
    <add key="FTP_PASSWORD" value="ttdh_basao@123"/>
  </appSettings>
<startup> <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
