<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>

      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_StaxiMan_IService"/>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://125.212.225.229:2345/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_StaxiMan_IService" contract="StaxiMan_Services.IService" name="BasicHttpBinding_IService"/>
      </client>
    </system.serviceModel>
</configuration>
