<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=192.168.1.17\BASQL;Initial Catalog=taxi_lap;Persist Security Info=True;User ID=lap;Password=123456"/>-->
    <add key="ConnectionString" value="Data Source=101.99.14.52,27946;Initial Catalog=TaxiOperationGPS_G5;Persist Security Info=True;User ID=pmdh;Password=123456"/>
    <add key="ConnectionString_VinhPhuc" value="Data Source=117.0.37.249,1433;Initial Catalog=Taxi_ThanhCong;Persist Security Info=True;User ID=sa;Password=TaxiThanhCong@sql13"/>
    <add key="ConnectionString_HaNam" value="Data Source=222.252.214.133,1433;Initial Catalog=Taxi_ThanhCong;Persist Security Info=True;User ID=sa;Password=TaxiThanhCong@sql13"/>
    <add key="ConnectionString_ThuaThienHue" value="Data Source=117.2.0.48,1433;Initial Catalog=Taxi_ThanhCong;Persist Security Info=True;User ID=sa;Password=TaxiThanhCong@sql13"/>
    <add key="user" value="thanhcongtaxi"/>
    <add key="pass" value="BA-8B-10-80-49-8E-45-A1-0E-CE-73-2A-25-1C-50-C1-51-AB-CB-96"/>
    <add key="domain" value="thanhcongtaxi.vn"/>
    <add key="filePath" value="D:\\BinhAnh\\PMDH\\16.Services_DatXe"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServicesOnline">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_CarOnlineSystemService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.0.2.179:7000/WCFServiceGEO" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicesOnline" contract="ServicesGEO.IServicesOnline" name="NetTcpBinding_IServicesOnline"/>
      <endpoint address="net.tcp://115.84.178.70:1106/CarOnlineSystemService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CarOnlineSystemService" contract="OnlineService.CarOnlineSystemService" name="NetTcpBinding_CarOnlineSystemService"/>
    </client>
  </system.serviceModel>
</configuration>