<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaxiOperation_CallCapture2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>

    <!--<add key="ConnectionString"  value="Data Source=192.168.1.17\BAGPS;
                                        Initial Catalog=Taxi_OperationGPS;
                                        User ID=taxi_operation;
                                        Password=123456"/>-->
	  <!--<add key="ConnectionString"  value="Data Source=taxibasao.no-ip.org;
											Initial Catalog=Taxi_BaSao;
											User ID=sa;
											Password=123@123abc"/>-->
    
    <!--<add key="ConnectionString"  value="Data Source=ppm_congnt_lap\sqlexpress;
											Initial Catalog=TaxiOperation_ABC;
											User ID=sa;
											Password=scongnt@"/>-->
    <add key="ConnectionString" value="Data Source=192.168.1.10;
                                        Initial Catalog=Taxi_EnVangVIP;
                                        User ID=sa;
                                        Password=123@123abc"/>
    
    <add key="SoCuocGoiGiuLai" value="800"/>
    <add key="SoPhutLuuCuocGoi" value="30"/>
    <!-- Số phút xác định cuộc gọi là cuộc gọi lại (trong khoảng thời gian đó XXX phút) -->
    <add key="UDPport" value="2000"/>
    <add key="idxCompany" value="1"/>
    <!--Có xoa cuoc goi khong xu ly tu dong hay khong ?
      0 : không
      1 : co
    -->
    <add key="RemoveCallAuto" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	  <add key="DauSoGoiDi" value="052"/>
	  <!--Bắt ở trạng thái 1 hay 3-->
	  <add key="TrangThaiBatSo" value="1"/>
  </appSettings>

  <connectionStrings>
    
  </connectionStrings>
  
  <applicationSettings>
    <TaxiOperation_CallCapture2.Properties.Settings>
      <setting name="CallCaptureV2_BAGPS_Service" serializeAs="String">
        <value>http://192.168.1.5:85/Service.asmx</value>
      </setting>
    </TaxiOperation_CallCapture2.Properties.Settings>
  </applicationSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
