<?xml version="1.0"?>
<!--Hệ thống Staxi Realease-->
<!--<Settings>
  <IPAddress>10.0.2.107</IPAddress>
  <Source>wDg6YjPN9qqXL7ebHHBELPInRQNrL+QL</Source>
  <Catalog>L9XXEDob/+TacgBYmzq08w==</Catalog>
  <User>L9XXEDob/+TacgBYmzq08w==</User>
  <Password>CiV0UUaPYMk=</Password>
  
</Settings>-->

<!--DuongThao test-->
<Settings>
 <IPAddress>
  </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfQrKqAuAnV/XP6Lb8SYrD/o=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>



