<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=192.168.1.11\BASQL;
                                        Initial Catalog=Staxi;
                                        User ID=taxi_operation;
                                        Password=123456"/>-->

    <add key="ConnectionString" value="Data Source=192.168.254.9;
                                        Initial Catalog=TaxiOperationGPS_TaxiGroup;
                                        User ID=ttdh_txg;
                                        Password=ttdh_txg@123"/>
  </appSettings>
</configuration>
