<?xml version="1.0"?>
<!--Bản realease phần mềm điều hành!-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>O/erdSKaLTI=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--Thanh Cong-->
<!--<Settings>
  <IPAddress> </IPAddress>
  <Source>evKekCEStRe9uZGfPRtx8Q==</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfeZAPXFAxjmd</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>A+NMmyHrQpVTAJBlvsr2CgVWvQm4fJKF</Password>
</Settings>-->

<!--BA ThanhCong Test-->
<!--<Settings>
    <IPAddress></IPAddress>
    <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
    <Catalog>ztVZdgFEVX4tYqoICENAfUb6VfeKd6W2FSdvxMLbM+M=</Catalog>
    <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
    <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--<Settings>
  <IPAddress>10.0.2.110</IPAddress>
  <Source>0gcjprYLwwjYRoa80RFlug==</Source>
  <Catalog>NI806RVvxevi6R0ELlWwpFVDz7Nr3scs</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->

<!--Sao HN test-->
<!--<Settings>
  <IPAddress>10.0.2.110</IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdFNGL4Lv5Gop2yVbExi360=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==999</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--<Settings>
  <IPAddress>192.168.0.2\TCSQL</IPAddress>
  <Source>wHWDG2IDWmNMlF/b1/EVqVf9EjFsj+NH</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfeZAPXFAxjmd</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>A+NMmyHrQpVTAJBlvsr2CgVWvQm4fJKF</Password>
</Settings>-->

<!--Sao HN thật-->
<!--<Settings>
  <IPAddress>10.0.2.110</IPAddress>
  <Source>4txdHlHUc/vkhluYAVmZiutJod+uja4S</Source>
  <Catalog>NI806RVvxevi6R0ELlWwpFVDz7Nr3scs</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->

<!--Ba sao test-->
<!--<Settings>
  <IPAddress> </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdD0VcwbNhJI</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--Ba sao-->
<!--<Settings>
  <IPAddress>192.168.100.10</IPAddress>
  <Source>0gcjprYLwwiJFabUUaKbuA==</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfeZAPXFAxjmd</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->

<!--Group app test-->
<!--<Settings>
  <IPAddress>10.0.2.110</IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAff98ZUCCqRmGbWK0bBVtlM8=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--Group-->
<!--<Settings>
<IPAddress>10.0.2.110</IPAddress>
  <Source></Source>
  <Catalog>ztVZdgFEVX4tYqoICENAff98ZUCCqRmGULFeBLRA/Wo=</Catalog>
  <User>PLusDTlaIKFiwrLDKIx2GA==</User>
  <Password>PLusDTlaIKHYDXtNU/HMFw==</Password>
</Settings>-->

<!--TaxiOperationGPS_BaSao test-->
<!--<Settings>
  <IPAddress> </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdD0VcwbNhJI</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--TaxiOperationGPS_ThanhDong_Test-->
<!--<Settings>
  <IPAddress>10.0.2.110</IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfXyyXw1Qhwziq84C+Fb0LrM=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--TaxiOperationGPS_HaiDuong_Test-->
<!--<Settings>
  <IPAddress>10.0.2.110</IPAddress>
  <Source>0gcjprYLwwjHcLip7QnCRdxd9FoIoAGn</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfbjWwbIjTggfNERedZ2wWX0=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--ABC Test-->
<!--<Settings>
<IPAddress>10.0.2.110</IPAddress>
<Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
<Catalog>ztVZdgFEVX4tYqoICENAffd7nrbQC9iimMKkApkjX2U=</Catalog>
<User>s5o4DG1jAFZA3h1G1ai0/g==</User>
<Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--Bac Trung Nam Test-->
<!--<Settings>
  <IPAddress>
  </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdODpJWvPlWx6yFFk2Om33s=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--Van An test-->
<!--<Settings>
  <IPAddress> </IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdI</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--<Settings>
  <IPAddress></IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdAdfCsv3bQI8m3otRP2OoY=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdAdfCsv3bQI8m3otRP2OoY=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--Vạn An Re-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>7+DBYN3S/ltcrP3NLtB4Dg==</Source>
  <Catalog>yoD7PaJgw6aCjXtKsyWZYw==</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>7+DBYN3S/ltcrP3NLB4Dg==</Source>
  <Catalog>yoD7PaJgw6aCjXtKsyWZYw==</Catalog>
  <User>EXaYlC9cNwA=</User>
  <Password>ufuCH762WIEAN4FtVS612Q==</Password>
</Settings>-->
<!--Song Lam Test-->
<!--<Settings>
  <IPAddress>192.168.1.11</IPAddress>
  <Source>0gcjprYLwwjHcLip7QnCRdxd9FoIoAGn</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfdAdfCsv3bQI8m3otRP2OoY=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->
<!--Cuong Thinh Test-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
  <Catalog>ztVZdgFEVX4tYqoICENAfakSgac8WX5iB1xAB/k9UPc=</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--Hoàng Sa ND Test-->
<!--<Settings>
  <IPAddress></IPAddress>
  <Source>0gcjprYLwwjHcLip7QnCRdxd9FoIoAGn</Source>
  <Catalog>F0bMJuOxsYDRrWA7XLbOGw==</Catalog>
  <User>s5o4DG1jAFZA3h1G1ai0/g==</User>
  <Password>CiV0UUaPYMk=</Password>
</Settings>-->

<!--Phù Đổng Test-->
<Settings>
  <IPAddress>
  </IPAddress>
<Source>0gcjprYLwwgNEaz1tRgWqUW2AbTJCITd</Source>
<Catalog>O/erdSKaLTI=</Catalog>
<User>s5o4DG1jAFZA3h1G1ai0/g==</User>
<Password>CiV0UUaPYMk=</Password>
</Settings>