<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
      <services>
        <service name="FastTaxi_OperationService.IOperationService" behaviorConfiguration="customBehaviour">
          <endpoint address="net.tcp://10.0.2.172:2526/OperationService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService" contract="FastTaxi_OperationService.IOperationService" name="NetTcpBinding_IOperationService" behaviorConfiguration="MyEndPointBehavior"/>
        </service>        
      </services>
      <behaviors>
        <endpointBehaviors>
          <behavior name="MyEndPointBehavior">
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="customBehaviour">
            <!--Specify the Custom Authentication policy that will be used and add the policy location-->
            <serviceCredentials>
              <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Service.UserAuthentication,Service"/>
              <serviceCertificate findValue="localhost" x509FindType="FindBySubjectName" storeLocation="CurrentUser" storeName="My"/>
            </serviceCredentials>

          </behavior>
        </serviceBehaviors>
        
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="gisSoap" />
                <binding name="BasicHttpBinding_IData" />
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_ITcpOP" />
                <binding name="BasicHttpBinding_ITcpOP1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISyncServiceOnline">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IOperationService">
                    <security mode="Message" />
                </binding>
                <binding name="NetTcpBinding_IOperationService1">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IOperationService2" />
                <binding name="NetTcpBinding_IOperationService3" />
                <binding name="NetTcpBinding_IServicesOnline">
                    <security mode="None" />
                </binding>
                <binding name="ServiceXHD">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IOperationService4">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.17:85/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="BAGPS.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="http://gis.binhanh.com.vn/gis.asmx" binding="basicHttpBinding"
                bindingConfiguration="gisSoap" contract="BAGIS.gisSoap" name="gisSoap" />
            <endpoint address="net.tcp://10.0.2.172:2526/OperationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService"
                contract="FastTaxi_OperationService.IOperationService" name="NetTcpBinding_IOperationService" />
            <endpoint address="http://115.84.179.34:9090/Data.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IData" contract="Service_ServerCenter.IData"
                name="BasicHttpBinding_IData" />
            <endpoint address="net.tcp://10.0.2.179:2526/OperationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService1"
                contract="ServiceEnVangVip.IOperationService" name="NetTcpBinding_IOperationService1" />
            <endpoint address="net.tcp://10.0.2.179:7373/OperationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService2"
                contract="ServiceG5.IOperationService" name="NetTcpBinding_IOperationService2" />
            <endpoint address="net.tcp://10.0.2.172:8000/WCFSyncService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISyncServiceOnline"
                contract="WCFServices.ISyncServiceOnline" name="NetTcpBinding_ISyncServiceOnline" />
            <endpoint address="http://125.212.225.229:2345/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="StaxiMan_Services.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://taxivina.staxi.vn:5008/Services/TcpOP.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITcpOP"
                contract="SMS_Viettel.ITcpOP" name="BasicHttpBinding_ITcpOP" />
            <endpoint address="net.tcp://10.1.11.179:8794/OperationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService3"
                contract="ServiceApp.IOperationService" name="NetTcpBinding_IOperationService3" />
            <endpoint address="net.tcp://10.1.11.179:8794/OperationService"
                binding="netTcpBinding" bindingConfiguration="ServiceXHD"
                contract="ServiceApp_XHD.IOperationService" name="ServiceXHD" />
            <endpoint address="http://125.212.226.60:1108/Services/TcpOP.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITcpOP1"
                contract="Services_TCPOP.ITcpOP" name="BasicHttpBinding_ITcpOP1" />
            <endpoint address="net.tcp://10.1.11.172:7000/WCFServiceGEO"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicesOnline"
                contract="WCFServiceGEO.IServicesOnline" name="NetTcpBinding_IServicesOnline" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
