<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap"/>
        <binding name="gisSoap"/>
        <binding name="TaxiOperation_ServicesSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISyncServiceOnline">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IOperationService">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBindingG5">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBindingBaSao">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IServicesOnline">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.11:85/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="BAGPS.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="http://gis.binhanh.com.vn/gis.asmx" binding="basicHttpBinding" bindingConfiguration="gisSoap" contract="BAGIS.gisSoap" name="gisSoap"/>
      <endpoint address="net.tcp://10.0.2.179:8000/WCFSyncService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISyncServiceOnline" contract="WCFServices.ISyncServiceOnline" name="NetTcpBinding_ISyncServiceOnline"/>
      <endpoint address="net.tcp://10.0.2.179:2526/OperationService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService" contract="FastTaxi_OperationService.IOperationService" name="NetTcpBinding_IOperationService"/>
      <endpoint address="net.tcp://10.0.2.179:7313/OperationService" binding="netTcpBinding" bindingConfiguration="NetTcpBindingBaSao" contract="ServiceBaSao.IOperationService" name="NetTcpBindingBaSao"/>
      <endpoint address="net.tcp://10.0.2.179:7000/WCFServiceGEO" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicesOnline" contract="WCFServiceGEO.IServicesOnline" name="NetTcpBinding_IServicesOnline"/>
      <endpoint address="http://117.6.95.56:86/TaxiOperation_Services.asmx" binding="basicHttpBinding" bindingConfiguration="TaxiOperation_ServicesSoap" contract="TaxiServices.TaxiOperation_ServicesSoap" name="TaxiOperation_ServicesSoap"/>
    </client>
  </system.serviceModel>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
