<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString"  value="Data Source=192.168.1.2\BASQL;Initial Catalog=TaxiGroupKnGPS;User ID=taxi ;Password=taxi@dmin"/>-->
    <!--<add key="ConnectionString"  value="Data Source=192.168.1.58;Initial Catalog=TaxiGroupKnGPS;User ID=sa ;Password=phupn@123"/>-->
    <add key="ConnectionString"  value="Data Source=192.168.254.14\SQL2008;Initial Catalog=TaxiGroup;User ID=sa;Password=taxi3a@"/>
    <!-- Thông tin cấu hình chuyển CS    -->
    <!-- 0 : Tong dai,1 : chuyển 1 CS, 2 : Chuyển 2 CS  -->
    <add key="ChuyenCS"  value="2"/>
    <!-- Thoi gian cua cuoc goi cuoi cung-->
    <add key="LastDateTimeCall"  value="2008-08-13 00:20:25"/>
    <add key="DauSoGoiDi" value=""/>
    <add key="MapPath"  value="\\192.168.1.58\\Map"/>
    <add key="BAGPS_Service" value="http://192.168.10.12:85/Service.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="gisSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gis.binhanh.com.vn/gis.asmx" binding="basicHttpBinding"
        bindingConfiguration="gisSoap" contract="BAGis.gisSoap" name="gisSoap" />
    </client>
  </system.serviceModel>
</configuration>