<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Janus.Windows.Common.JanusApplicationSettings.gridCuocGois" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Janus.Windows.Common.JanusApplicationSettings.gridCuocGoi_KetThuc" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Janus.Windows.Common.JanusApplicationSettings.gridDSXe" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Janus.Windows.Common.JanusApplicationSettings.gridDienThoai" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>

    
    <!-- Thông tin cấu hình chuyển CS    -->
    <!-- 0 : Tong dai,1 : chuyển 1 CS, 2 : Chuyển 2 CS  -->
    <add key="ChuyenCS" value="2"/>
    <!-- Thoi gian cua cuoc goi cuoi cung-->
    <add key="LastDateTimeCall" value="2008-08-13 00:20:25"/>
    <!--Mã vùng điện thoại - dùng cho gọi tự động-->
    <add key="DauSoGoiDi" value="0511"/>
    <add key="NhapThueBaoKenh3" value="1"/>
    <add key="idxCompany" value="9"/>
    <!--Có hiển thị lưới cuộc gọi line khác bên phải để hỗ trợ không ?
      0 : không
      1 : DTV - hiển thị lưới bên phải
      2 : TDV - hiển thị lưới chờ giải quyết bên dưới
    -->
    <add key="GridConfig" value="0"/>
    <!--Có cảnh báo SOS ko ?
      0 : không
      1 : Có
    -->
    <add key="HasSOS" value="1"/>
    <!--chỉ dùng 1 máy tính cho cả điều và tiếp nhận
      0 : cả Tổng đài - Tiếp Nhận
      1 : Tổng đài Mini
      2 : Tổng đài - Tiếp Nhận - Mời Khách
      3 : Tổng đài điện thoại - Lái xe
    -->
    <add key="MoHinh" value="0"/>
    <!--Cho phép điện thoại nhập xe nhận hay không
      0 : Không
      1 : Có 
    -->
    <add key="ChoPhepDienThoaiNhapXe" value="1"/>
    <!--Chuyển phím 9 là lệnh không xe.
      0 : Không
      1 : Có 
    -->
    <add key="LenhKhongXe" value="1"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISyncServiceOnline" receiveTimeout="00:10:00" sendTimeout="00:10:00"><security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IOperationService" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IOperationService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IServicesOnline">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="ServiceSoap" receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
        <binding name="gisSoap" receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
      </basicHttpBinding>
    </bindings>
    
    <client>
      <!--địa chỉ IP của máy chứa Service đồng bộ xe online - port 8000-->      
      <endpoint address="http://192.168.1.11:85/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="BAGPS.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="http://gis.binhanh.com.vn/gis.asmx" binding="basicHttpBinding" bindingConfiguration="gisSoap" contract="BAGIS.gisSoap" name="gisSoap"/>
      <endpoint address="net.tcp://192.168.100.253:8000/WCFSyncService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISyncServiceOnline" contract="WCFServices.ISyncServiceOnline" name="NetTcpBinding_ISyncServiceOnline"/>
      <endpoint address="net.tcp://10.0.0.179:2526/OperationService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService" contract="FastTaxi_OperationService.IOperationService" name="NetTcpBinding_IOperationService"/>

      <endpoint address="net.tcp://10.0.0.179:2526/OperationService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService1"
          contract="ServiceEnVangVip.IOperationService" name="NetTcpBinding_IOperationService1" />
      
      <endpoint address="net.tcp://192.168.100.253:7000/WCFServiceGEO" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicesOnline" contract="WCFServiceGEO.IServicesOnline"
                name="NetTcpBinding_IServicesOnline" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
