<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Janus.Windows.Common.JanusApplicationSettings.gridDSXe" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Janus.Windows.Common.JanusApplicationSettings.gridDienThoai" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=192.168.1.11\BASQL;
                                        Initial Catalog=Taxi_TQD_Staxi;
                                        User ID=taxi_operation;
                                        Password=123456"/>-->

    <!--<add key="ConnectionString" value="Data Source=taxibactrungnam.no-ip.org;
                                        Initial Catalog=Taxi_BacTrungNam;
                                        User ID=sa;
                                        Password=123@123abc"/>-->
    
    <!--<add key="ConnectionString" value="Data Source=118.70.178.156,35672;
                                        Initial Catalog=Taxi_LongBien;
                                        User ID=sa;
                                        Password=123@123abc"/>-->
    <!-- Thoi gian cua cuoc goi cuoi cung-->
    <add key="LastDateTimeCall" value="2008-08-13 00:20:25"/>
    <add key="SoPhutCanhBaoMoiKhach" value="5"/>
    <add key="DauSoGoiDi" value=""/>
    <add key="BoDauSoGoiDi" value=""/>
    <add key="BAGPS_Service" value="http://192.168.1.2:85/Service.asmx"/>
    <add key="Timer_Capture_Phone" value="1000"/>
    <add key="ServiceGEO" value="BA"/>
    <add key="GeoConfig" value="http://map2.vngeobiz.com:7080/xls"/>
    <add key="NhapThueBaoKenh3" value="1"/>
    <!--Vùng mặc định-->
    <add key="VungMacDinh" value="2"/>
    <!--chỉ dùng 1 máy tính cho cả điều và tiếp nhận
      0 : cả Tổng đài - Tiếp Nhận
      1 : Tổng đài Mini
      2 : Tổng đài - Tiếp Nhận - Mời Khách
    -->
    <add key="MoHinh" value="0"/>
    <add key="idxCompany" value="31"/>
    <add key="IsMKAsterisk" value="1" />
    <add key="LineIPPBX" value="117" />
    <add key="LineIPPBX2" value="117" />
    <add key="LineMK" value="1;3;5;7;9;11" />
  </appSettings>

  <system.serviceModel>
     <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISyncServiceOnline" receiveTimeout="00:10:00" sendTimeout="00:10:00"><security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IOperationService" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="ServiceSoap" receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
        <binding name="gisSoap" receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--địa chỉ IP của máy chứa Service đồng bộ xe online - port 8000-->  
      <endpoint address="http://192.168.1.17:85/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="BAGPS.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="http://gis.binhanh.com.vn/gis.asmx" binding="basicHttpBinding" bindingConfiguration="gisSoap" contract="BAGIS.gisSoap" name="gisSoap"/>
      <endpoint address="net.tcp://10.0.2.163:8000/WCFSyncService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISyncServiceOnline" contract="WCFServices.ISyncServiceOnline" name="NetTcpBinding_ISyncServiceOnline"/>
      <!--<endpoint address="net.tcp://192.168.1.17:2526/OperationService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService" contract="FastTaxi_OperationService.IOperationService" name="NetTcpBinding_IOperationService"/>-->
    <endpoint address="net.tcp://10.0.2.163:2526/OperationService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOperationService" contract="FastTaxi_OperationService.IOperationService" name="NetTcpBinding_IOperationService"/>
    </client> 
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
